body {
    font-family: arial, verdana;
    background: black;
}

div#frame {
    width:1360px;
    height:768px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
}

div.control {
    width: 100px;
    height: 20px;
    border-radius: 4px;
    border: 3px solid #F5B041;
    padding: 4px;
    margin: 4px;
}

div.control:hover { 
    cursor: pointer;
    border: 3px solid #E5A031;
}

div.control_selected {
    background: #FFC051;
}
            
td.control {
    width: 100px;
    height: 20px;
    border-radius: 4px;
    border: 3px solid #F5B041;
    padding: 4px;
    margin: 4px;
}

td.control:hover { 
    cursor: pointer;
    border: 3px solid #E5A031;
}

td.control_selected {
    background: #FFC051;
}
            
table.edged { 
 border-collapse: collapse;
}

table.edged td {
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #CCCCCC; 
}

div.youtube_link {
 position: absolute;
 right : 5px;
 bottom : 5px;
}

div.youtube_link:hover {
 cursor: pointer
}

.hoverpointer:hover {
 cursor: pointer
}
